bitsandbytes accelerate {xformers} peft==0.17.1 trl triton cut_cross_entropy unsloth_zoo
!pip install sentencepiece protobuf "datasets==4.3.0" "huggingface_hub>=0.34.0" hf_transfer
!pip install --no-deps unsloth
!pip install transformers==4.56.2
!pip install --no-deps trl==0.22.2
!git clone https://github.com/SparkAudio/Spark-TTS
!git clone https://github.com/Sibgat-Ul/VoxCPM_bn_en
!pip install omegaconf einx torchcodec "datasets>=3.4.1,<4.0.0"
!pip install soxr soundfile einops -q